.navigation-elements__all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border: black 1px solid;
}

.navigation-elements__search {
  height: 2.5rem;
  width: 20rem;
  border: grey solid 1px;
  background-color: lightgrey;
}
