.stories-elements {
  display: flex;
  justify-content: center;
  height: 25vh;
}

.stories-elements__all {
  border: black 1px solid;
  display: flex;
  flex-direction: row;
  width: 80vw;
  align-items: center;
  //   background-color: blueviolet;
}

.stories-elements__item {
  background-color: burlywood;
  margin: 1rem;
  border: black 1px solid;
  height: 10rem;
  clip-path: circle(60px at 90px 70px);
}

.stories-elements__img {
  //   border: black 1px solid;

  height: 10rem;
  width: 10rem;
  margin: 1rem;
}
