.stories-elements {
  display: flex;
  justify-content: center;
  height: 25vh;
}

.stories-elements__all {
  border: black 1px solid;
  display: flex;
  flex-direction: row;
  width: 80vw;
  align-items: center;
  //   background-color: blueviolet;
}

.stories-elements__item {
  margin: 5rem;
  clip-path: circle(60px at 90px 70px);
  border: black 1px solid;
  background-color: burlywood;
  height: 10rem;
}

.stories-elements__img {
  height: 10rem;
  width: 10rem;
}
